{% extends "base.html" %}

{% block title %}O mnie - Moja Strona{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-8 mx-auto">
        <h1 class="mb-4">O mnie</h1>
        <div class="card">
            <div class="card-body">
                <p class="card-text">
                    Cześć! Jestem studentką Psychologii i informatyki. W ramach przemiotu Języki programowania uczę się tworzenia aplikacji webowych.
                    Lubię pracować z Python, Flask i innymi technologiami webowymi.
                </p>
                <p class="card-text">
                    W wolnym czasie rozwijam swoje umiejętności programistyczne i uczę się nowych frameworków.
                    Uwielbiam rozwiązywać problemy i tworzyć aplikacje, które pomagają innym.
                </p>
                <h5 class="mt-4">Moje umiejętności:</h5>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Python</li>
                    <li class="list-group-item">Flask</li>
                    <li class="list-group-item">HTML & CSS</li>
                    <li class="list-group-item">Bootstrap</li>
                </ul>
            </div>
        </div>
    </div>
</div>
{% endblock %}